nav {
  position: static;
  top: 0;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
}
ul {
  display: flex;
  list-style-type: none;
}
nav a {
  color: rgb(65, 61, 78);
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
nav a:hover {
  background: rgb(243, 243, 243);
}