form {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2rem;
  background: #fff;
  color: rgb(65, 61, 78);
  border-radius: .3rem;
}
h1 {
  align-self: center;
  margin-bottom: 2rem;
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
input {
  display: flex;
  flex: 1;
}
button {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: .5rem;
  background: rgb(0, 195, 255);
  border: none;
  border-radius: .3rem;
}
button:hover {
  background: rgb(42, 205, 255);
  cursor: pointer;
}
